<form action="/post/create" method="POSt">  
        <div class="container">   
            <label>title : </label>   
            <input type="text" placeholder="Enter title" name="title" required>  
            <label>info : </label>  
            <textarea name="info">

            </textarea> 
            <button type="submit">add post</button>   
        </div>   
    </form>     