<form action="/user/login" method="POSt">  
        <div class="container">   
            <label>Username : </label>   
            <input type="text" placeholder="Enter Username" name="userName" required>  
            <label>Password : </label>   
            <input type="password" placeholder="Enter Password" name="password" required>  
            <button type="submit">Login</button>   
        </div>   
    </form>     
    {{#if error}}
<h1>{{error}}</h1>
{{/if}}