<form action="/user/update?_method=PUT" method="POSt">  
        <div class="container">   
            <label>Username : </label>   
            <input type="text" placeholder="Enter Username" name="userName" required>  
            <label>Password : </label>   
            <input type="password" placeholder="Enter Password" name="password" required>  
            <button type="submit">update</button>   
        </div>   
    </form>     